/* Main content area */
body {
    background-color: rgb(201, 242, 201);
    font-family: 'Arial';
    color: #333;
  }
  .container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  }
/* Main heading */
  h1 {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 56px;
  }
/* Chooose Rock, Paper or Scissors */
  .choose {
    border: 2px solid red;
    background-color: lightgreen;
    border-radius: 150px;
}
  .choice {
    margin-bottom: 9px;
    
  }
  .choice,
  .sheading,
  .rheading,
  .score {
    font-size: 40px;
    color: red;
    text-shadow: 2px 2px yellow;
  }
  .sheading,
  .rheading {
    margin-top: 10px;
  }
  .hands {
    display: flex;
    justify-content: center;
  }
  .hand {
    margin-right: 16px;
    margin-left: 16px;
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .hand img {
    padding-left: 15px;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .label {
    margin: 0 auto;
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    color: yellow;
    font-size: 32px;
    font-weight: 500;
    background-color: rgb(216, 125, 5);
    padding: 0.5rem 16px;
    border-radius: 20px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
  }
  .hand:hover {
    transform: scale(1.1);
  }
/* Scores: human and computer */
  .scorescontainer {
    display: flex;
  }
  #humanface,
  #computerface {
    display: flex;
    font-size: 120px;
    align-self: center;
    margin: auto;

  }
  #scores {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 221, 62);
    border-radius: 40px;
    border: 2px solid red;
    justify-content: center;
    width: 450px;
    text-shadow: 2px 2px yellow;
  }
 .competitor {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #000;
  }
  .human,
  .computer {
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
    border-radius: 5px;
  }
  .human p,
  .computer p {
    font-size: 30px;
    margin: 0;
  }
  .scoreboard {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
  .score {
    width: 200px;
    text-align: center;
    border-radius: 5px;
  }
  .score h2 {
    margin-bottom: 16px;
    font-size: 32px;
  }
  .score p {
    margin: 0;
    font-size: 48px;
    text-shadow: 2px 2px yellow;
  }
/* Results: Whose choise was better? human or computer */
  .result {
    margin-top: 32px;
    padding: 16px;
    padding-top: 1.6px;
    border-radius: 5px;
    background-color: rgb(3, 154, 3);
    border-radius: 40px;
    border: 2px solid red;
  }
  #result-text {
    margin-bottom: 16px;
    font-size: 27.2px;
    color: yellow;
  }
  button {
    padding: 16px 32px;
    background-color: rgb(216, 125, 5);
    color: yellow;
    font-size: 32px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  button:hover {
    background-color: #f7c332;
    transform: scale(1.1);
  }